<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Website" value="http://localhost:50462" />
    <add key="ImagesPath" value ="A:\FinalProject\senior-engineering-project\SystemTest\FlashminderTest\Images"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/Models.FlashminderModel.csdl|res://*/Models.FlashminderModel.ssdl|res://*/Models.FlashminderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Emily-PC;initial catalog=flashminder;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>